/* import Inter fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* CSS reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Container */

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  border-bottom: 2px solid #eee;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
}

.addBtn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.addBtn:hover {
  background-color: #111;
}

/* Main */

.main {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}


@media screen and (max-width: 768px) {
  .main {
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Todo Boards*/

.board {
  background-color: #eee;
  padding: 1rem;
  border-radius: 5px;
}

.board__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.board__title {
  font-size: 20px;
  font-weight: 600;
}

.board__count {
  font-size: 16px;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

/* Todo List */

.board__tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.board__task {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.board__task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.board__task-title {
  font-size: 18px;
  font-weight: 600;
}

.board__task-actions {
  display: flex;
  gap: 1rem;
}

.board__task-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.board__task-btn:hover {
  background-color: #111;
}

.board__task-desc {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1rem;
}

/* empty state */

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 5rem;
  text-align: center;
}

.empty-state__img {
  width: 300px;
  height: auto;
}

.empty-state__title {
  font-size: 24px;
  font-weight: 600;
}

/* Modal */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  /* display: none; */
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  width: 500px;
  max-width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-title {
  font-size: 24px;
  font-weight: 600;
}

.modal-close {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.modal-close:hover {
  background-color: #111;
}

.modal-body {
  margin-bottom: 1rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__label {
  font-size: 16px;
  font-weight: 600;
}

.form__input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #eee;
  font-size: 16px;
  font-weight: 400;
}

.form__input:focus {
  outline: none;
  border-color: #333;
}

.form__textarea {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #eee;
  font-size: 16px;
  font-weight: 400;
  resize: none;
}

.form__textarea:focus {
  outline: none;
  border-color: #333;
}

.form__btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.form__btn:hover {
  background-color: #111;
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 80%;
  }
}


/* alert */

.error-alert{
  background-color: #f44336;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 50%;
  position: absolute;
  top: 5%;  
  left: 50%;
  transform: translate(-50%, 0);  
  z-index: 999;
}

.alert{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.success-alert{
  background-color: #4CAF50;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 50%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);  
  z-index: 999;
}



/* footer */

.footer {
  padding: 1rem;
  text-align: center;
  border-top: 2px solid #eee;
}


.hidden {
  display: none;
}
